{% extends 'base.html' %}
{% block title %} Домашняя страница {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12 mb-3">
        <h4 class="text-center"> Добро пожаловать, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %} </h4>
        <div>
            В настоящий момент существует множество прикладных задач, решение которых связанно с использованием машинного обучения. К этим задачам относятся классификация, кластеризация, анализ текcтом (NLP).
            Наряду с увеличением интересна применения алгоритмов машинного обучения в различных областях и приложениях растет и интерес к разработке методов, которые позволили бы объяснить результат работы алгоритма.
        </div>
        <br>
        <div>
            Интерпретируемость помогает обеспечить беспристрастность при принятии решений, способствует обеспечению устойчивости за счет выявления потенциальных враждебных возмущений,
            которые могут изменить прогноз и может служить гарантией того, что только значимые переменные определяют результат, т.е. гарантируют, что в модельном рассуждении существует скрытая истинная причинность.
        </div>
        <br>
        <div>
            Сначала необходимо загрузить выбранную модель или откыть уже существующую. Для загрузки новой модели нажмите на <b>"Добавить модель"</b> и загрузить файл в формате csv с разделителем запятой.
        </div>
        <br>
        <div>
            Далее после выбора модели заполните все необходимые поля и нажмите на кнопку <b>"Рассчитать"</b> и на странице появится визуализация интерпретации.
        </div>
         <br><br>
        <div>
            По возникающим вопросам и неполадкам писать на zaiceva.irinka@mail.ru.
        </div>
        <br>
</div>
{% endblock %}
